/* ======================Common CSS====================== */
/* =============== Google Font ============= */
/* =============== Popins Font =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* =============== Popins Font =============== */
/* =============== Google Font ============= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
ol,
span,
a,
div,
nav,
br,
p {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
:root {
  --primary_Background_color: #1c1e53;
  --secondary_Background_color: #f4f6fc;
  --yellow_color: #fcd980;
  --white_color: #ffff;
  --black_color: #282938;
  /* ===========Text Font Family============ */
  --Popins_Font: "Poppins", sans-serif;
  /* ===========Text Font Family============ */
}
body {
  font-family: var(--Popins_Font);
}
/* ======================Common CSS====================== */
/* ================ Navbar Css ================ */
.CoustomNav {
  padding: 16px 0;
  background-color: var(--primary_Background_color);
}

.CoustomNavbarIMenuUl {
  column-gap: 32px;
}
.CoustomNavbarIMenuUl__Item a {
  color: #bbbbcb;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.CoustomNavbarIMenuUl__Item:hover a {
  color: var(--white_color);
}
.CoustomNav__button {
  padding: 16px 48px;
  background-color: transparent;
  color: var(--white_color);
  font-size: 16px;
  font-weight: 500;
  border: 2px solid rgb(244, 246, 252, 20%);
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.CoustomNav__button:hover {
  background-color: var(--yellow_color);
  color: var(--black_color);
}
/* ================ Navbar Css ================ */
/* ====================== Our Designs Css ====================== */
#OurDesign {
  background-color: var(--white_color);
  padding: 128px 0;
}
.OurDesignAbout {
  display: flex;
  flex-direction: column;
}
.OurDesignAbout__Subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--black_color);
}
.OurDesignAbout__Title {
  margin-top: 8px;
  font-size: 54px;
  font-weight: 600;
  color: var(--black_color);
  line-height: 74px;
}
.OurDesignAbout__Summary {
  margin-top: 39px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black_color);
  line-height: 28px;
  padding-right: 139px;
}
/* ====================== Our Designs Css ====================== */
/* ====================== WhoWeAre Css ====================== */
#WhoWeAre {
  background-color: #f4f5f5;
  padding-top: 80px;
  padding-bottom: 128px;
}
.WhoWeAreWrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 79px;
  padding-right: 27px;
  padding-bottom: 80px;
}
.WhoWeAreLeft {
  display: flex;
  flex-direction: column;
}
.WhoWeAreLeft__Subtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--black_color);
}
.WhoWeAreLeft__Title {
  margin-top: 4px;
  font-size: 38px;
  font-weight: 600;
  color: var(--black_color);
}
.WhoWeAreLeft__Summary {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black_color);
  padding-right: 107px;
}
.WhoWeAreRight {
  display: flex;
  flex-direction: column;
}
.WhoWeAreRight__title {
  font-size: 38px;
  font-weight: 600;
  color: var(--black_color);
}
.WhoWeAreRight__Summary {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black_color);
  padding-right: 107px;
}
/* ====================== WhoWeAre Css ====================== */
/* ====================== Proccess Css ====================== */
#proccess {
  padding: 128px 0;
  background-color: var(--white_color);
}
.proccess__Header {
  font-size: 48px;
  font-weight: 600;
  color: var(--black_color);
}
.ProccessItemWrapper {
  margin-top: 48px;
}
.proccessItem {
  display: flex;
  flex-direction: column;
}
.proccessItemUpper {
  display: flex;
  column-gap: 24px;
}
.proccessItem__circle {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #2405f2;
}
.proccessItem__Header {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 500;
  color: var(--black_color);
}
.proccessItem__Summary {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black_color);
  line-height: 24px;
}
/* ====================== Proccess Css ====================== */
/* ====================== MisionVison Css ====================== */
#MisionVison {
  padding: 128px 0;
  background-color: #eef4fa;
}
.MissionVisonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MisionVisionLeft {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.MisionVisionLeft__SubbHeader {
  font-size: 16px;
  font-weight: 500;
  color: var(--black_color);
}
.MisionVisionLeft__Header {
  font-size: 36px;
  font-weight: 600;
  color: var(--black_color);
}
.MisionVisionLeft__Summary {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--black_color);
  padding-right: 5px;
}
.Mission--wrapper {
  margin-top: 96px;
}
/* ====================== MisionVison Css ====================== */
/* ====================== Benefits Css ====================== */
#Benefits {
  background-color: var(--white_color);
  padding: 128px 0;
}
.BenefitsHeader__title {
  font-size: 48px;
  font-weight: 600;
  color: var(--black_color);
  max-width: 630px;
  text-align: center;
}
.BenefitsItemWrapper {
  margin-top: 48px;
}
.BenefitsItem {
  background-color: #f4f6fc;
  padding: 48px 0 48px 48px;
}
.BenefitsItemIcon {
  height: 32px;
  width: 32px;
}
.BenefitsItem__header {
  margin-top: 26px;
  font-size: 24px;
  font-weight: 500;
  color: var(--black_color);
}
.BenefitsItem__summary {
  font-size: 16px;
  margin-top: 12px;
  font-weight: 400;
  color: var(--black_color);
  padding-right: 75px;
}
.BenefitsDownLogo {
  display: flex;
}
.BenefitsDownLogoLeft {
  display: flex;
  flex-direction: column;
}
.BenefitsDownLogoLeft__header {
  font-size: 38px;
  font-weight: 600;
  color: var(--black_color);
}
.BenefitsDownLogoLeft__Subheader {
  font-size: 16px;
  font-weight: 400;
  color: var(--black_color);
}
.BenefitsDownLogo {
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
}
/* ====================== Benefits Css ====================== */
/* ====================== MeetTeam Css ====================== */
#MeetTeam {
  background-color: #f4f6fc;
  padding: 128px 0;
}
.MeetTeamHeader__title {
  font-size: 48px;
  font-weight: 600;
  color: var(--black_color);
}
.JhonSmith {
  padding: 48px 64px 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white_color);
}
.JhonSmith:hover .JhonSmithPictureOverlayer {
  bottom: 0;
  left: 0;
}
.JhonSmithPicture {
  position: relative;
  max-width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 11px;
}
.JhonSmithPictureOverlayer {
  width: 100%;
  height: 100%;
  bottom: -162px;
  left: 0;
  position: absolute;
  background-image: linear-gradient(
    0deg,
    rgb(82, 57, 250, 00.75),
    rgb(255, 255, 255, 0)
  );
  opacity: 0.7;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 11px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.JhonSmithPictureOverlayer i {
  color: var(--white_color);
  margin-bottom: 28px;
}
.JhonSmith__title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  color: var(--black_color);
}
.JhonSmith__Subtitle {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  color: #1d2130;
}
/* ====================== MeetTeam Css ====================== */

/* =========== Footer CSS =========== */
#Footer {
  background-color: var(--primary_Background_color);
  padding-top: 96px;
}

.FooterLeft__Summary {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white_color);
  line-height: 28px;
  padding-right: 90px;
}
.FooterLeftContact {
  margin-top: 86px;
  background-color: var(--yellow_color);
  padding: 17px 137px 17px 37px;
}
.FooterLeftContactleft {
  display: flex;
  flex-direction: column;
}
.FooterLeftContactleft__header {
  font-size: 18px;
  font-weight: 500;
  color: var(--black_color);
}
.FooterLeftContactleft__mail {
  font-size: 16px;
  font-weight: 400;
  color: var(--black_color);
}

.FotterRigth {
  display: flex;
  flex-direction: column;
  padding-left: 142px;
}
.FotterRigth__title {
  font-size: 48px;
  font-weight: 600;
  color: var(--white_color);
}
.FotterRigth__Summary {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  color: var(--white_color);
  line-height: 28px;
  padding-right: 126px;
}
.FotterRigthIcon {
  margin-top: 28px;
  display: flex;
  column-gap: 27px;
}
.FotterRigthIcon__linked {
  color: var(--black_color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--white_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* =========== Footer CSS =========== */
/* =========== Footer2 CSS =========== */
.FotterWrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}
.FootterPartCopy {
  font-size: 16px;
  font-weight: 500;
  color: var(--black_color);
}
.FootterPartCopyRigt {
  display: flex;
  column-gap: 32px;
}
.FootterPartCopyRigt__item {
  font-size: 16px;
  font-weight: 500;
  color: var(--black_color);
}

/* =========== Footer2 CSS =========== */
