@media (max-width: 991.98px) {
  :root {
    --primary_Background_color: #1c1e53;
    --secondary_Background_color: #f4f6fc;
    --yellow_color: #fcd980;
    --white_color: #ffff;
    --black_color: #282938;
  }
  /* =================== navbar================== */
  .customToggler--button {
    align-content: center;
    border-radius: 10px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
  }
  .customToggler--button:hover {
    background-color: var(--white_color);
  }
  .customToggler--button:hover .customToggler--icon {
    color: var(--black_color);
  }
  .customToggler--icon {
    color: var(--white_color);
    align-content: center;
    transition: all ease 0.3s;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .customNavItem {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 20px;
    border: solid 2px rgba(244, 246, 252, 0.2);
    text-align: center;
    cursor: pointer;
  }
  .customNavItem a {
    color: var(--white_color);
    width: 100%;
  }
  .customNavItem:hover {
    background-color: var(--yellow_color);
  }
  .nav--button {
    width: 100%;
    background-color: var(--yellow_color);
    color: var(--black_color);
  }
  .customNavItem__link {
    width: 100%;
  }
  .customNav {
    padding: 20px 0 20px 0;
  }
  /* =================== navbar================== */
  /* ===========================UXCase=================== */
  .UXCasePart__Titel {
    font-size: 36px;
    padding: 0px 27px;
  }

  /* ===========================UXCase=================== */
  /* ===========================Description=================== */
  .DescriptionPart__Header {
    font-size: 33px;
    line-height: 43px;
  }
  .DescriptionPart__2ndHeader {
    font-size: 33px;
    line-height: 43px;
  }
  /* ===========================Description=================== */
  /* ================ Fotter Css ================ */
  .FooterLeft__Summary {
    padding-right: 47px;
  }
  .FotterRigth__Summary {
    padding-right: 22px;
    text-align: justify;
  }
  /* ================ Fotter Css ================ */
}
