@media (max-width: 1399.98px) { 
      :root {
  --primary_Background_color: #1c1e53;
  --secondary_Background_color: #f4f6fc;
  --yellow_color: #fcd980;
  --white_color: #ffff;
  --black_color: #282938;
 
}
/* ================ Portfolio Css ================ */
.PortfolioPart__Summary {
    padding: 0 248px;
}
/* ================ Portfolio Css ================ */
/* ================ Contact Css ================ */
.ContactPart__title {
    padding: 0 299px;
}
.ContactPart__Summary {
    padding: 0 260px;
}
/* ================ Contact Css ================ */
}