@media (max-width: 991.98px) {
  :root {
    --primary_Background_color: #1c1e53;
    --secondary_Background_color: #f4f6fc;
    --yellow_color: #fcd980;
    --white_color: #ffff;
    --black_color: #282938;
  }
  /* ================ Portfolio Css ================ */
  .PortfolioPart__Title {
    font-size: 38px;
  }
  .PortfolioPart__Summary {
    padding: 0 32px;
  }
  /* ================ Portfolio Css ================ */
  /* ================ Template Css ================ */
  .TemplateIteam__Title {
    font-size: 34px;
  }
  /* ================ Template Css ================ */
  /* ================ Contact Css ================ */
  .ContactPart__title {
    padding: 0 109px;
    font-size: 38px;
  }
  .ContactPart__Summary {
    padding: 0 119px;
}
  /* ================ Contact Css ================ */
  /* ================ Fotter Css ================ */
  .FooterLeft__Summary {
    padding-right: 47px;
  }
  .FotterRigth__Summary {
    padding-right: 22px;
    text-align: justify;
  }
  /* ================ Fotter Css ================ */
}
