@media (max-width: 1399.98px) {
  :root {
    --primary_Background_color: #1c1e53;
    --secondary_Background_color: #f4f6fc;
    --yellow_color: #fcd980;
    --white_color: #ffff;
    --black_color: #282938;
    --RoyalBlue_color: #2405f2;
  }
  /* ======================= PrivacyPolicy ======================= */
  .PrivacyPolicy__Summary {
    padding: 0 303px;
  }
  /* ======================= PrivacyPolicy ======================= */
}
