@media (max-width: 1199.98px) {
  :root {
    --primary_Background_color: #1c1e53;
    --secondary_Background_color: #f4f6fc;
    --yellow_color: #fcd980;
    --white_color: #ffff;
    --black_color: #282938;
    --RoyalBlue_color: #2405f2;
  }
  /* ============================ PrivacyPolicy ======================= */
  .PrivacyPolicy__Title {
    font-size: 46px;
  }
  .PrivacyPolicy__Summary {
    padding: 0 215px;
  }
  .Privacydownpart__Summary {
    font-size: 16px;
    text-align: justify;
  }
  /* ============================ PrivacyPolicy ======================= */
  /*  ========================= Fotter ========================= */
  .FooterLeftContactleft__mail {
    font-size: 13px;
  }
  .FotterRigth__title {
    font-size: 40px;
  }
  .FotterRigth__Summary {
    margin-top: 14px;
    font-size: 15px;

    line-height: 26px;
    padding-right: 62px;
  }
  /*  ========================= Fotter ========================= */
}
