@media (max-width: 1399.98px) {
  :root {
    --primary_Background_color: #1c1e53;
    --secondary_Background_color: #f4f6fc;
    --yellow_color: #fcd980;
    --white_color: #ffff;
    --black_color: #282938;
  
  }
  /* =================== OurDesign =================== */
  .OurDesignAbout__Title {
    line-height: 65px;
  }
  .OurDesignAbout__Summary {
    padding-right: 173px;
  }
  /* =================== OurDesign =================== */
  /* =================== Revision =================== */
  .RevisionRigth__Title {
    line-height: 65px;
  }
  /* =================== Revision =================== */
  /* =================== Frequently =================== */
  .FrequentlyLeft__title {
    font-size: 32px;
  }
  /* =================== Frequently =================== */
}
