@media (max-width: 767.98px) {
  :root {
    --primary_Background_color: #1c1e53;
    --secondary_Background_color: #f4f6fc;
    --yellow_color: #fcd980;
    --white_color: #ffff;
    --black_color: #282938;
  }
  /*  ========================= OurDesign ========================= */

  .OurDesignAbout__Title {
    font-size: 36px;
  }
  .OurDesignAbout__Summary {
    margin-top: 16px;
  }
  /*  ========================= OurDesign ========================= */
  /*  ========================= WhoWeAre ========================= */
  .WhoWeAreLeft__Summary {
    text-align: justify;
    padding-right: 0px;
  }
  .WhoWeAreRight__Summary {
    text-align: justify;
    padding-right: 0;
  }

  /*  ========================= WhoWeAre ========================= */
  /*  ========================= proccess ========================= */
  .proccessItem__Header {
    font-size: 22px;
  }
  /*  ========================= proccess ========================= */
  /*  ========================= MisionVision ========================= */
  .MisionVisionLeft__Header {
    font-size: 30px;
  }
  /*  ========================= MisionVision ========================= */
  /*  ========================= Benefits ========================= */
  .BenefitsHeader__title {
    font-size: 30px;
  }
  .BenefitsItem {
    padding: 40px 48px 40px 48px;
  }
  /*  ========================= Benefits ========================= */
  /*  ========================= Footer ========================= */
  .FotterRigth__title {
    font-size: 36px;
  }
  .FooterLeft__Summary {
    line-height: 25px;
    padding-right: 12px;
    font-size: 15px;
  }
  .FooterLeftContact {
    padding: 17px 40px 17px 37px;
  }
  .FotterRigth {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
  }
  .FotterRigth__Summary {
    margin-top: 14px;
    font-size: 15px;
    line-height: 24px;
    padding-right: 8px;
  }
  .FotterRigthIcon {
    margin-top: 96px;
    display: flex;
    column-gap: 27px;
  }
  .FootterPartCopyRigt__item {
    font-size: 14px;
  }
  .FootterPartCopyTitele {
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
  .FootterPartCopyRigt {
    margin-top: 6px;
    align-items: center;
    justify-content: center;
}
  /*  ========================= Footer ========================= */

}
